html, body {
    height: 100%;
}

button:focus {
    outline: nonel;
}

@media (min-width: 992px) {
.style1 {
        width: 100%;
        text-align: center;
        position: absolute
    }
.register-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-line-pack: center;
                align-content: center;
                float: left
    }

.input-form.input-field:focus {
background-color: #fff
}

}

.card-class-login {
            -webkit-box-align: center;
                -ms-flex-align: center;
                        -webkit-box-pack: center;
                            -ms-flex-pack: center;
                                -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                                        background-color: rgba(130, 176, 190, 0.6);
                                        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(212, 212, 212, 0.8)), to(#90C9D6));
                                        background-image: linear-gradient(0deg, rgba(212, 212, 212, 0.8) 0%, #90C9D6 100%);
                                        -webkit-box-orient: horizontal;
                                        -webkit-box-direction: normal;
                                            -ms-flex-direction: row;
                                                flex-direction: row;
                                                overflow: hidden;

}
.heading2 {
    font-size: 25px;/* color: rgba(0,0,0,0) ! important */font-weight: bold
}
h1.text-xl-center.align-self-xl-center.title { 
}
.title {
    font-size: 48px}
.input-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
                    -webkit-box-pack: space-evenly;
                        -ms-flex-pack: space-evenly;
                        -ms-flex-wrap: nowrap;
                        margin-top: 1rem;
                        margin-bottom: 1rem
}
.icon-style {
    margin-right: 1rem;
    color: #57595c;
    font-size: 1.3rem}
i.far.fa-user.icon-style { 
}
.button-text {
    font-size: 0.85rem;
    font-weight: bold;
    padding-top: 2rem
}
.background {
    background-color: #edeaea;
    height: 100%;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                    align-items: stretch;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center
}

.input-form.input-field {
    background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition-property: border-bottom;
            color: #343a40;
            margin-bottom: 0rem;
            border-top-style: none;
            border-left-style: none;
            border-right-style: none;
            border-bottom-left-radius: 0rem;
            border-bottom-right-radius: 0rem}
.card-group-login {
    -webkit-box-align: center;
        -ms-flex-align: center;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    -webkit-box-orient: horizontal;

                        width: 100%}


.register-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    display: flex;

                            -ms-flex-wrap: wrap;

                                flex-wrap: wrap;
                -webkit-box-align: start;
                    -ms-flex-align: start
}
.navbar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
                    background-color: rgba(130, 176, 190, 0.6);
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: row;
                            flex-direction: row;
                                        -ms-flex-wrap: nowrap;
                                            flex-wrap: nowrap;
                                            background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(212, 212, 212, 0.8)), to(#90c9d6));
                                            background-image: linear-gradient(0deg, rgba(212, 212, 212, 0.8) 0%, #90c9d6 100%);}
.sidebar-block {
min-width: 250px;
max-width: 250px;
-webkit-transition-property: margin-left;
-webkit-transition-duration: 0.45s;
        transition-duration: 0.45s;
-webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
text-align: center;
background: -webkit-gradient(linear, left top, left bottom, from(#FFFBFB), to(rgba(255, 255, 255, 0))), #E5E5E5;
background: linear-gradient(180deg, #FFFBFB 0%, rgba(255, 255, 255, 0) 100%), #E5E5E5;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                -ms-flex-line-pack: center;
                    vertical-align: center;-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            align-content: center;
                                align-items: center;
                                height: 100%;
                                width: 250px;
                                border-top-right-radius: 5px;
                                border-bottom-left-radius: 5px;
                                transition-property: margin-left;
}
.content-flex {
-webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
                align-items: center;
                background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(212, 212, 212, 0.8)), color-stop(37%, rgba(212, 212, 212, 0.8)));
                background-image: linear-gradient(0deg, rgba(212, 212, 212, 0.8) 0%, rgba(212, 212, 212, 0.8) 37%)
}
.sidebar-button {
background-color: transparent;
border: none
}
.filters-column {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center
}
.height {
height: 100%;
-webkit-box-orient: horizontal;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
            overflow: hidden
}
@media (min-width: 576px) {

.input-form.input-field:focus {
background-color: #fff
}
}

@media (min-width: 768px) {

.input-form.input-field:focus {
background-color: #fff
}
}

.input-form.input-field:focus {
background-color: #fff
}

.search-card {
background-color: rgba(255, 255, 255, 0.6) !important;
border-width: 1px;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
border-bottom-right-radius: 0.25rem

}

.sidebar-button:hover {
background-color: #007bff

}


.sidebard-icon {
padding-left: 0px

}

.toggler {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
            -webkit-box-orient: vertical;
            -webkit-box-align: start;
                -ms-flex-align: start;
                border-width: 0px;
}

.content-template {
    overflow: auto;
}

.toggler:focus {
    border-style: none;
}

.settings-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-wrap: wrap;
            border-width: 10px;
            border-color: #000;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
}

.submit-icon {
    color: #8AC08C !important;
}

.cancel-icon {
    color: #F57070 !important;
}
.list-group-item {
    border-style: none !important;
    border-radius: none !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
            -webkit-box-align: baseline;
                -ms-flex-align: baseline;
                    align-items: baseline;

}

.list-group-item:hover {
    border: 0px !important;
    background-color: #90C9D6 !important;
}

.list-group-item:focus {
    border: 0px !important;
}

.list-group-item:active {
    border: 0px !important;
}

.list-group-item:visited {
    border: 0px !important;
}

.btn:hover { 
    border: 0px !important;
}

.btn:focus { 
    border: 0px !important;
}

.btn:active { 
    border: 0px !important;
}

.btn:visited { 
    border: 0px !important;
}

.offer-subcat-level {
    border-style: 20px;
    border-color: #6c757d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.level-circle {
    margin-right: 1rem;
}

.offer-form {
    -webkit-box-orient: horizontal;
            -ms-flex-wrap: wrap;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
}

.flex-form {
            -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                        -ms-flex-wrap: wrap;
                            -ms-flex-line-pack: center;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                                -ms-flex-direction: column;
                                    flex-direction: column;
                                    flex-wrap: wrap;

}

.settings-icon {
    color: #575f66;
}


.star-icon {
    color: #6c757d;
}

.overflow-scroll {
    overflow-y: scroll !important;
    clear: both;
}

.flex-border {
    border-width: 5px;
    border-color: #000;
}

.card-class-login.overflow-y { 
    overflow-y: scroll !important;
}

.rating-width {
    width: 200px;
}

.font-size-description {
    font-size: 15px;
}


.min-height-card {
    max-height: 300px;
    overflow-y: scroll !important;
} 

.max-height-card {
    max-height: 700px;
    overflow-y: scroll !important;
}

.med-height-card {
    max-height: 300px;
    overflow-y: scroll !important;
    max-width: 800px;
}

.background.overflow-scroll { 
    overflow-y: scroll !important; 
    overflow: hidden;
}





















