.dmx-slideshow {
    position: relative;
    height: 0;
}

.dmx-slideshow-slides-container,
.dmx-slideshow-effects-container,
.dmx-slideshow-textbox-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}

.dmx-slideshow-paging-container ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.dmx-slideshow-paging-container li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.dmx-slideshow-textbox {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    transition: all 600ms;
}
